html, body {
  height: 100%;
  width: 100%;
}
*{
  margin: 0px;
  padding: 0px;
}
body{
  background-color: grey;
}
h2{
  font-size: 32px;
/*   font-family: poppins; */
  margin-bottom: 10px;
}
div{
  background-color: #317ee3;
  text-align: center;
  padding: 10px;
  margin: 20px 0px;
}
p{
  font-size: 25px;
  font-family: sans-serif;
  border: black;
  border-radius: 10px;
  border-style: solid;
  padding: 35px;
  margin: 20px 0px;
}
button{
  background-color: skyblue;
  font-size: 20px;
  margin: 10px;
  padding: 8px 15px;
  border-radius: 15px;
}



